*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background-color: transparent;
  scroll-padding: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(24, 24, 24, 0.561);
  transition: all 2s linear;
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: rgba(41, 41, 41, 0.561);
}
