<div class="top-menu">
  <button id="select-btn" class="btn">Вибрати зображення</button>
  <button id="generate-btn" class="btn" disabled>Запустити</button>
  <button id="reset-btn" class="btn" disabled>Скинути</button>

  <div id="save-box" style="display: none">
    <button type="submit" id="save-btn" class="btn">Зберегти</button>

    <select id="save-type-box">
      <option value="save">Зберегти локально</option>
      <option value="stringart">Зберегти у файл</option>
      <option value="png">png</option>
      <option value="svg">svg</option>
    </select>
  </div>
</div>
